* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

body {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.main-head {
    display: flex;
    width: 100%;
}

#logo {
  display: flex;
  margin: auto;
  font-size: 2.5rem;
  color: #99c9c8;
  border-style: solid;
}

nav {
    display: flex;
    width: auto;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
  }
  
  nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  nav a {
    background-color: none;
    color: black;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #cbe5cc;
    border-radius: none;
    
  }
  
  nav .current {
    background-color: #ffd8d8;
    padding: 0.4rem 0.4rem;
    text-decoration: none;
  }

.container-all {
  display: flex;
  justify-content: center;
  align-content: space-around;
  letter-spacing: 2px;
  line-height: 4;
  
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopnow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99c9c8;
  border: 5px solid #ffd8d8;
  text-decoration: none;

}

.cards {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #99c9c8;
  }

  .cards img {
    max-width: 50%;
    margin: 2rem;
    color: white;
  }
  
  .card-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .popular-items {
    align-items: center;
  }

  .items-text {
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .popular-products {
    display: flex;
    justify-content: center;
  }